body {
    min-height:100vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #f9faf8;
}

p {
    color: #e5e7eb;
}

.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.header-links {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 32px;
    align-items: center;
}

.hero-content {
    flex-grow: 0;
}

.hero-content button {
    background-color: #3882f6;
    color: #e5e7eb
}

.hero-image {
    width: 400px;
    height: auto;
    margin: 24px;
}