body {
    min-height:100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9faf8;
}

h1 {
    color: #f9faf8;
}

h2 {
    text-align: center;
    color: #1f2937;
    font-weight: 600;
    font-size: 36px;
    padding: 16px;
}

p {
    color: #e5e7eb;
}

.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.header-links {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 32px;
    align-items: center;
}

.hero-content {
    flex-grow: 0;
}

.hero-content button {
    background-color: #3882f6;
    color: #e5e7eb
}

.hero-image {
    width: 400px;
    height: auto;
    margin: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:  0px 32px;
    margin: 0;
}

.card img {
    width: 250px;
    height: auto;
}

.card p {
    color:#1f2937;
}


.quote {
    background-color: #e5e7eb;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-author {
    color:#1f2937;
    text-align: right;
    font-weight: 500;
    font-size: 24px;
    padding-top: 10px;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    background-color: #3882f6;
    border-radius: 12px;
    width: 600px;
    height: 100px;
    padding: 12px 48px;
    justify-self: center;
    margin: 48px 0px;
    justify-content: space-between;
    align-items: center ;

}

.call-text {
    color: #f9faf8;
}

.call button {
    background-color: #3882f6;
    border-color: #f9faf8;
    border-width: 2px;
    border-radius: 6px;
    color:#f9faf8;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 24px;
    
}